<h1>New Blog Post</h1>

<% if @post.errors %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li style="color: red;"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>
  <label>Blogger Name:</label><br>
  <%= f.collection_select :blogger_id, Blogger.all, :id, :name %>
    <br><br>
  <label>Destination:</label><br>
  <%= f.collection_select :destination_id, Destination.all, :id, :name %>
    <br><br>
  <label>Title:</label><br>
  <%= f.text_field :title %>
    <br><br>
  <label>Content:</label><br>
  <%= f.text_area :content, cols: 40, rows: 20, placeholder: "A post must be more than 100 characters." %>
    <br><br>
  <%= f.submit %>
<% end %>