<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<%= link_to 'Author', blogger_path(@post.blogger_id) %> |
<%= link_to 'Destination', destination_path(@post.destination_id) %> |
<%= @post.likes %> Likes
  <br><br>
<%= link_to 'Like Post', like_post_path(@post) %>